.column {
    background-color: var(--background-color-lvl-2);
    padding: var(--padding-xl);
    border-radius: var(--border-radius-m);

    display: flex;
    flex-direction: column;
    gap: var(--margin-xl);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--color-text-disable);
    font-size: var(--font-size-xl);
}

.button-add {
    
}

.tasks {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--margin-xl);
    border-radius: var(--border-radius-s);
    height: 100%;
}

.column.drag-active .tasks {
    border: var(--color-text-disable) 4px dotted;
    background: var(--background-color-lvl-3);
}